.force-pwd {
    display:grid;
    grid-template-columns: 20% 30% 35%;
    padding: 20px;
    padding-top: 10%;
    text-align: center;
}

.force-pwd .icon{
    margin-top: -45%;
    text-align: left;
    font-size: 20px;
    height: 20%;
    width: 45%;
}
.force-pwd .icon:hover{
    cursor: pointer;
    color: #4D47C3;
}

.force-pwd .title {
    width: 150%;
    text-align: left;
    margin-top: -17%;
    margin-left: 13%;
    padding-bottom: 10%;
}
.force-pwd .title p {
    border-left: 3px solid #4D47C3;
    padding-left: 8px;
}
.force-pwd .wrapper{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.force-pwd .login {
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

.force-pwd .user {
    padding-bottom: 20%;
    padding-left: 3%;
}

.force-pwd .login-input{
    padding: 0.5%;
    width: 98%;
}

.force-pwd .login-input-form{
    width: 80%;
    padding-left: 10%;
}

.force-pwd .login-input input {
    height: 12px;
    padding-left: 12px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    min-width: 92%;
    border-radius: 5px;
    background-color: rgb(240, 239, 255, 0.5);
    border: 1px solid rgba(255,255,255,.5);
    font-size: 1em ;
}

.force-pwd .pad{
    height: 10px;
}

.force-pwd .login-input input::placeholder {
    color: #A7A3FF;
}

.force-pwd .forgot {
    margin-top: -2%;
    text-align: right;
    padding-bottom: 25px;
    font-size: 70%;
}

.force-pwd .login-input button {
    height: 32px;
    width: 73%;
    border-radius: 5px;
    background-color: #4D47C3;
    color: #fff;
    border: 1px solid rgba(255,255,255,.5);
    font-size: 0.8em ;
}

.force-pwd .login-input button:hover {
    cursor: pointer;
    background-color: #554FCA;
}

.force-pwd .alternate {
    color: #4D47C3;
}

.force-pwd .alternate:hover {
    cursor: pointer;
}
.force-pwd .err {
    font-size: 0.75em;
    color: red;
}


.force-pwd .compare {
    text-align: left;
    background-color: #F3F3F3;
    font-size: 95%;
    padding-left: 5%;
    padding-top: 3%;
    width: 80%;
    margin-left: 3.2%;
    border-radius: 4%;
    margin-left: -6%;
    margin-top: 2.5%;
}
.force-pwd .green {
    color: green;
    font-size: 0.96em;
    margin-bottom: -3%;
    margin-top: -1%;
}
.force-pwd .red {
    color: red;
    font-size: 0.96em;
    margin-bottom: -3%;
    margin-top: -1%;
}
