.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.graphs > div {
  flex: 1 1 30%;
  margin-bottom: 20px;
}
