.navbarr{
    background-color: #303030;
    height: 50%;
    color: #EBEBEB;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
}

.navbarr .navbar-items {
    margin-left: 3%;
}
.navbarr .navbar-items-logout {
    margin-left: 62%;
}
.navbarr .navbar-items:hover {
    color: #E3C55D;
    cursor: pointer;
}
.navbarr .navbar-items-logout:hover {
    color: #E3C55D;
    cursor: pointer;
}
