p, div {
    font-family: Lato;
}
    
.sysadmin .wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

.sysadmin .icon {
    margin-top: 1%;
    text-align: left;
    margin-bottom: -2%;
    margin-left: 1%;
    font-size: 20px;
    width: 10%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
}

.sysadmin .icon:hover {
    cursor: pointer;
    color: #4D47C3;
}

.sysadmin .text-wrapper {
    margin-top: 5%;
    text-align: left;
    margin-left: 27%;
}
.sysadmin .text-wrapper .desc {
    width: 55%;
    text-align: left;
    border-left: 3px solid #4D47C3;
    padding-left: 8px;
    font-size: 0.9em;
}
  
 .sysadmin .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px 40px;
    border-radius: 6px;
    margin-left: 28%;
  }
  
 .sysadmin .form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.25em;
    color: #222;
  }
  
 .sysadmin form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }  
  
 .sysadmin label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
 .sysadmin input {
    height: 15px;
    padding-left: 12px;
    border-radius: 5px;
    background-color: rgb(240, 239, 255, 0.5);
    border: 1px solid rgba(255,255,255,.5);
    font-size: 1em ;
  }
  
 .sysadmin input::placeholder {
    font-size: 0.92em;
    font-weight: lighter;
    color: #A7A3FF;
  }
  
 .sysadmin button {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding:  0.938em;
    border: none;
    border-radius: 4px;
    background-color: #4D47C3;
    color: #FFFFFF;
    font-size: 0.62em;
  }
 .sysadmin button:hover {
     background-color: #554FCA;
    color: #FFFFFF;
  }
   
 .sysadmin .username,
 .sysadmin .email,
 .sysadmin .contact_number,
 .sysadmin .Confirm_Password,
.sysadmin  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
   
 .sysadmin .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

 .sysadmin .err {
     color: red;
     margin-top: 2%;
     font-size: 0.85em;
  }
