.Dashboard {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.Dashboard h1 {
    margin-bottom: 20px 0;
    text-align: center;
}

.date-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin-bottom: 10px;
    margin-left: 20px;
}

.fancy-datepicker {
  background-color: lightblue;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
}

.fancy-datepicker .react-datepicker__input-container input {
  border: none;
  border-bottom: 2px solid rgb(208, 0, 255);
  outline: none;
  color: rgb(208, 0, 255);
  font-weight: bold;
}

.fancy-datepicker .react-datepicker__calendar {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(208, 0, 255);
}

.fancy-datepicker .react-datepicker__day--selected {
  background-color: rgb(208, 0, 255);
  color: white;
}

.fancy-datepicker .react-datepicker__day--keyboard-selected {
  background-color: rgb(208, 0, 255);
  color: white;
}
  
.start-date-picker, .end-date-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-date-picker span, .end-date-picker span {
    margin-bottom: 5px;
    font-size: medium;
}

.buttons {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: -35px;
    margin-left: 1000px;
}

button[name="export-button"] {
    background-color: rgb(44, 43, 43);
    font-size: large;
    color: white;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button[name="update-button"] {
    background-color: rgb(85, 85, 213);
    font-size: large;
    color: white;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button[name="share-button"] {
    background-color: rgb(90, 208, 90);
    font-size: large;
    color: white;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button[name="remove-button"] {
    background-color: rgb(223, 59, 59);
    font-size: large;
    color: white;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cards{
    margin-top: 30px;
    justify-content: "space-between" ;
    margin-left: 13%;
    display: flex;
}

.card{
    display: inline-block;
    background-color: white;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px lightblue;
    margin-right: 100px;
    border-radius: 4px;
}

.card h3{
    color: black;
    font-size: medium;
    text-align: center;
}

.card > p {
    color: #4D47C3;
    text-align: center;
}

.graph{
    display: flex;
    margin-left: 35%;
    margin-top: 30px;
    height: auto;
    width: auto;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    
}
​​

th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #5f5e5e;
}
  
th{
    background-color: lightgray;
    border-bottom: 1px solid #5f5e5e;
}

  